<header>
    <h1> ❬AutoȘeller❭</h1>
  </header>
 


  <nav>
         
    <label id="hamburger" for="ch-menu">
      <img src="resurse/imagini/Hamburger_icon_alb.webp" alt="menu">
    </label>
    <input id="ch-menu" type="checkbox">


      <ul class="meniu">
          <li>  <a href="#welcome">Acasa</a></li>

          <li><a href="#galery">Galerie</a>
              <ul class="submenu">
                  <li><a href="#galery">AutoSeller</a></li>
                  <li><a href="https://colantaremasini.ro/galerie-lucrari/">Altele</a></li>
              </ul>
          </li>

          <li><a href="#orar">Orar</a></li>

          <li><a href="#promo">Evenimente</a></li>

          <li><a href="#about_us">Despre noi</a></li>

      </ul>
  </nav>
  
</header>